
#root {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

body {
  margin: 0px;
}

.App {
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: aliceblue;
}

.Footer {
  width: 100%;
  background-color: rgb(53, 53, 236);
  text-align: center;
  color: whitesmoke;
  margin-top: auto;
}

.Nav {
  width: 100%;
  background-color: rgb(53, 53, 236);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Nav ul {
  color: whitesmoke;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Nav li {
  padding: 5px;
}

.Nav li a {
  color: whitesmoke;
  text-decoration: none;
}

.Nav li:hover {
  color: aqua;
}

.requestForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
}

.requestForm input[type=text] {
  width: 100%;
  padding: 12px 24px;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.requestForm button {
  width: 100%;
  background-color: rgb(29, 207, 29);
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}

.requestForm button:hover {
  background-color: rgb(68, 233, 68);
}

.requestForm h1 {
  text-align: center;
  color: rgb(53, 53, 236);
}

.requestForm p {
  text-align: center;
  color: black;
}

.table-container {
  align-items: center;
  justify-content: center;
}

.table-container h1 {
  text-align: center;
  color: rgb(53, 53, 236);
}

.table-container p {
  text-align: center;
  color: black;
}

.table-container button {
  padding: 10px 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;  
}

.transferButton {
  background-color: rgb(53, 53, 236);
}

.stolenButton {
  background-color: rgb(221, 25, 25);
}

button:hover {
  cursor: pointer;
}

.scooterTable {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  justify-content: center;
  padding: 12px 12px;
  margin-top: 12px;
}

.scooterTable td, th {
  border: 1px solid #e9e6e6;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background: #f2f2f2}

th:hover {
  background-color: rgb(79, 79, 231);
  color: white;
  cursor: pointer;
}

