
#root {
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
}

body {
  margin: 0px;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: aliceblue;
}

h1, p {
  text-align: center;
}

h1 {
  color: rgb(53, 53, 236);
}

.Footer {
  width: 100%;
  background-color: rgb(53, 53, 236);
  text-align: center;
  color: whitesmoke;
  margin-top: auto;
}

.Nav {
  width: 100%;
  background-color: rgb(53, 53, 236);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Nav ul {
  color: whitesmoke;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.Nav li {
  padding: 5px;
  margin-left: 1rem;
}

.Nav li a {
  color: whitesmoke;
  text-decoration: none;
}

.Nav li a:hover {
  color: yellow;
}

.form-container {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: 5rem;
}

.form-container form input[type=text], form input[type=password], textarea, select, form input[type=date] {
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 12px 24px;
  margin: 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container form button {
  width: 100%;
  background-color: rgb(29, 207, 29);
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
}

form button:hover {
  background-color: rgb(68, 233, 68);
}

.search-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10rem;
}

.search-container form input[type=text]{
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
}

.search-container form button {
  background-color: rgb(29, 207, 29);
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
}

#logoutButton {
  background-color: rgb(53, 53, 236);;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
}

.table-container {
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.table-container h1 {
  text-align: center;
  color: rgb(53, 53, 236);
}

.table-container p {
  text-align: center;
  color: black;
}

.table-container button {
  padding: 10px 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;  
}

.transferButton {
  background-color: rgb(53, 53, 236);
}

.transferButton:hover {
  background-color: rgb(79, 79, 230);
}

.stolenButton {
  background-color: rgb(221, 25, 25);
}

.stolenButton:hover {
  background-color: rgb(245, 62, 62);
}

.approveButton {
  background-color: rgb(34, 194, 34);
}

.approveButton:hover {
  background-color: rgb(71, 231, 71);
}

.rejectButton {
  background-color: rgb(221, 25, 25);
}

.rejectButton:hover {
  background-color: rgb(245, 62, 62);
}

button:hover {
  cursor: pointer;
}

table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  justify-content: center;
  padding: 12px 12px;
  margin-top: 12px;
}

table td, th {
  border: 1px solid #e9e6e6;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background: #f2f2f2}

th:hover {
  background-color: rgb(79, 79, 231);
  color: white;
  cursor: pointer;
}

